.home-container {
    display: flex;
    margin-top: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100% !important;
}

.center-text {
    text-align: center;
}

.style-rhythm-reviews-text {
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    color: #ffffff;
}

.remove-margin-bottom {
    margin-bottom: 0;
}

.alignment {
    right: 0;
    bottom: 0;
    left: 0;
}

.blue-review-text {
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    color: #3B82F6;
    opacity: 0.5;
}

.style-description-div {
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
}

.description-text {
    margin-top: 1.25rem;
    margin-right: 1.25rem;
    margin-left: 1.25rem;
    margin-bottom: 3rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: #ffffff;
}

@media (min-width: 1024px) {
    .style-description-div {
        width: 66.666667%;
    }

    .description-text {
        margin-right: 0;
        margin-left: 0;
    }
}

.center-homepage-div {
    justify-content: center;
    align-items: center;
}