.content-div {
  display: flex;
  margin-top: 16rem;
  flex-direction: column;
  align-items: center;
}

.user-info-div {
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  color: #ffffff;
}

.email-div {
  color: #ffffff;
}

.email-p-tag {
  padding-top: 0.5rem;
  text-align: center;
}

.button-div {
  display: inline-block;
  max-width: 24rem; 
  padding: 48px;
  margin-top: 0.5rem; 
  margin-left: 1rem; 
  margin-right: 1rem; 
  text-align: center;
  border-radius: 0.25rem; 
  width: 100%; 
  background-color: rgba(255, 255, 255, 0.3);
   
}

@media only screen and (min-width: 1397px) {
  .change-account {
    width: 33%;
  }
}

@media only screen and (min-width: 1024px) {
  .change-account {
    justify-content: flex-end;
  }

  .content-div {
    flex-direction: row;
  }
}


@media only screen and (min-width: 768px) {
  .change-account {
    justify-content: flex-end;
    display: grid;
    margin-bottom: auto;
  }
}

