body.homepage-background {
    background-image: url("../assets/rr-homepage-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.search-container,
.add-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.noShadow {
    text-shadow: rgb(85, 85, 85) 1px 0px 10px;
}