.search-container,
.add-flex-center {
  display: flex;
  margin-left: 10px;
}

.col {
  display: inline-block;
  width: 13%;
}

.hidden {
  display: none;
}

.noShadow {
  text-shadow: rgb(85, 85, 85) 1px 0px 10px;
}

@media only screen and (max-width: 968px) {
  .logo {
    width: 30%;
  }

  .col {
    width: 100%;
  }
}

@media only screen and (min-width: 969px) and (max-width: 1307px) {
  .col {
    width: 30%;
  }
}

@media only screen and (min-width: 600px) {
  /* body {
    background-image: url("../assets/rr-homepage-2.jpg");
  } */

  .logo {
    display: none;
  }
}

.album-container {
  border: 2px solid #fff;
  padding: 10px;
  width: calc(16.666% - 20px); 
  margin: 0 10px 20px 0;
  box-sizing: border-box;
}

.search-container::after {
  content: "";
  display: table;
  clear: both;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: orange;
}
.off {
  color: #cccccc;
}

.star-rating button {
  font-size: 2em; 
  margin: 0.1em; 
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 2s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
